.effect-menu{
    border-radius: 99px 0 0 99px;
    background-color: #f0f0f0;
    color: #45BF55;
    position:relative;
}

.effect-menu:before {
    background: url('../assets/effect-menu-up.svg') bottom center no-repeat;
    content: '';
    height: 40px;
    position: absolute;
    top: -39px;
    right: -1px;
    width: 40px;
}


.effect-menu:after {
    content: '';
    width: 40px;
    height: 40px;
    background: url('../assets/effect-menu-down.svg') top center no-repeat;
    position: absolute;
    top: 98%;
    right: -1px;
}
